[submodule "cppcoro"]
	path = /cppcoro
	url = https://github.com/lewissbaker/cppcoro.git
	branc = master
[submodule "oatpp"]
	path = oatpp
	url = https://github.com/oatpp/oatpp.git
[submodule "restinio"]
	path = restinio
	url = https://github.com/stiffstream/restinio
